<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @show.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @show.last_name %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @show.complete %>
</p>

<p>
  <strong>Boolean:</strong>
  <%= @show.boolean %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
